.pokemonTableContainer {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .listContainer {
    flex: 1;
  }
  
  .searchFilter {
    margin-bottom: 20px;
  }
  
  .typeFilter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .typeTag {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected {
    background-color: #4caf50;
    color: #fff;
  }
  
  .pokemonList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .pokemonCard {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .pokemonImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .pokemonName {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .pages {
    display: inline-block;
    margin: 0 8px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .prev,
  .next {
    display: inline-block;
    margin: 0 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    border: 2px dashed rgb(32, 34, 46);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .activePage {
    background-color: #4caf50;
    color: #fff;
  }
  
  .detailsContainer {
    flex: 1;
  }
  
  .detailsCard {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .detailsImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .pokemonList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
  }

.navigationText {
    font-size: 20px;
}
.navigationList{
    display:flex;
}
.navigationBtn{
    margin-left: 10px;
}
.navigationSearchList{
  display:flex;
}
.detailsOverlay {
  z-index: 1;
}
.search{
  border: #0000;
  border-radius: 20px;
  height: 30px;
}
.searchBlock{
  display:flex;
}
ul{
  margin: 0;
  padding: 0;
  margin-block: 30px;
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .searchBlock{
    justify-content: center;
  }
  .detailsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .pokemonTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .listContainer {
    padding: 10px;
  }

  .navigationList {
    flex-direction: column;
    align-items: center;
  }

  .navigationBtn {
    margin: 5px;
  }

  .searchFilter {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .typeFilter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .typeTag {
    padding: 10px;
    font-weight: bolder;
  }

  .pokemonList {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
  }

  .pokemonCard {
    margin-bottom: 10px;
  }

  .pokemonImage {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  .pokemonName,
  .typeName {
    text-align: center;
  }

  .detailsCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    box-sizing: border-box;
  }
}